body {
  background: white;
}
.color-custom {
  color: #fbae3c;
}
.card {
  border-radius: 24px;
}
.icon {
  position: absolute;
  right: 20px;
  width: 60px;
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.bg-icon {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(52, 52, 52, 1) 100%
  );
}
.custom-position {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}