body {
  background: white;
}
.color-custom {
  color: #fbae3c;
}
.card {
  border-radius: 24px;
}
.btn-ticket {
  background-color: #eee;
  border-radius: 4px;
  padding: 5px 20px;
  border: 1px solid #fbae3c;
  background: linear-gradient(
    0deg,
    rgba(251, 174, 60, 1) 4%,
    rgba(251, 174, 60, 1) 47%,
    rgba(249, 198, 121, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.check-button {
  position: absolute;
  right: 25px;
  width: 50px;
  height: 50px;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 2px solid green;
  background-color: white;
  transition: background-color 0.2s, color 0.2s, transform 0.2s, opacity 0.2s;
}

.check-button:hover {
  background-color: green;
  color: white;
  opacity: 0.9;
}

.check-button:active {
  opacity: 0.7;
  transform: scale(0.95);
  background-color: green;
  color: white;
}
.btn-ticket:hover {
  border: none;
  background: rgb(251, 174, 60);
  background: linear-gradient(
    0deg,
    rgba(251, 174, 60, 1) 4%,
    rgba(251, 174, 60, 1) 47%,
    rgba(249, 198, 121, 1) 100%
  );
  -webkit-text-fill-color: #eee;
  color: #eee;
  margin: 1px 0;
}
.btn-ticket:active {
  opacity: 0.8;
}
.icon {
  position: absolute;
  right: 20px;
  width: 60px;
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.lock-button {
  position: absolute;
  right: 30px;
  width: 40px;
  height: 40px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: none;
  background-color: white;
  color: #c81010;
}
.bg-icon-sent {
  background: rgb(21, 108, 136);
  background: linear-gradient(
    0deg,
    rgba(21, 108, 136, 1) 4%,
    rgba(14, 106, 255, 1) 100%
  );
}
.bg-icon-working {
  background: rgb(251, 174, 60);
  background: linear-gradient(
    0deg,
    rgba(251, 174, 60, 1) 4%,
    rgba(251, 174, 60, 1) 47%,
    rgba(249, 198, 121, 1) 100%
  );
}
.bg-icon-solved {
  background: rgb(14, 79, 17);
  background: linear-gradient(
    0deg,
    rgba(14, 79, 17, 1) 4%,
    rgba(46, 231, 115, 1) 100%
  );
}
@media (max-width: 767px) {
  .hide {
    display: none;
  }
}

.checkmark {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(14, 79, 17);
  background: linear-gradient(
    0deg,
    rgba(14, 79, 17, 1) 4%,
    rgba(46, 231, 115, 1) 100%
  );
  margin: 0 auto;
  position: relative;
}
.checkmark::after {
  content: "✔";
  font-size: 50px;
  color: white;
}
.message {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

